{
    "STRAVA_CLIENT_ID": "Strava > Settings > My API Application > Client ID",
    "STRAVA_CLIENT_SECRET": "Strava > Settings > My API Application > Client Secret",
    "STRAVA_CALLBACK_URL": "https://HOSTNAME/wh",
    "STRAVA_OAUTH_REDIRECT_URL": "https%3A%2F%2FHOSTNAME%2Fstrava",
    "STRAVA_VERIFY_TOKEN": "lkhc2023",

    "SQLALCHEMY_DATABASE_URI": "mysql+pymysql://lkhc:MYSQL_LKHC_PW@127.0.0.1/lkhc?charset=utf8mb4",

    "MYSQL_ROOT_PASSWORD" : "MYSQL_ROOT_PW",
    "MYSQL_LKHC_PASSWORD" : "MYSQL_LKHC_PW",
    
    "WEB_ADMIN_PASSWORD" : "WEB_ADMIN_PW",
    "WEB_SESSION_SECRET": "A BUNCH OF RANDOM CHARACTERS & SYMBOLS"
}
